body {
    font-family: Arial;
    background: #f4f6f8;
}

.container {
    width: 50%;
    margin: auto;
    background: white;
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
}

button {
    background: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}
